<head>
<h3 style="margin-top:20px;text-align:center;color:gray;">This is the page where you can enter your comment. </h3>
</head>


<div style="margin-top:-25px;margin-left:20px;">
  <a class="btn" ng-click=setRoute('feeds')>Return To Feeds</a>
</div>



<div style="margin-top:150px;text-align:center">
<p>This page contains no data. As currently we are fetching data from local file. </br></br>In future we will wire up this page with server calls we can add and associate comments with post. </p>
</div>


<div style="margin-top:200px;text-align:center ;color:gray;">
<p>Developed by <a href ="http://www.cloudspokes.com/members/dubeynikhileshs">me</a> for <a href="http://www.cloudspokes.com/challenges/1892">this</a> contest orgranised by <a href="http://www.cloudspokes.com">Cloudspokes</a></p>
</div>


<div style="margin-top:10px;text-align:center ;color:gray;">
<p>Powered by <a href ="http://angularjs.org/">Angular JS</a></p>
</div>